@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #003366;
}

#availBody {
  color: rgb(var(--foreground-rgb));
  background: url('https://staging.embed.buddy.insure/test/avail-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  z-index: 1000;
  width: auto;
  text-align: center;
  display: inline-block;
  min-width: 60%;
  max-width: 550px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.full-width-button {
  width: 100%;
  background-color: #1C3D6C;
  color: #FFF;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 1.325rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  margin-top: 1rem;
}

.full-width-button:hover {
  background-color: #003366; /* Darkens the button color slightly on hover */
}

.small-copy-button {
  width: 100%;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 10px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 20px;
  text-align: left;
  color: #202020;
}

.disclaimer-copy {
  font-size: 0.95rem;
  color: #707070;
  background-color: #ececec;
  margin-top: 20px;
  padding: 10px;
}

.uppercase {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #EAEDF1;
  margin: 0rem auto;
  width: 55%;
  padding: 2%;
}

.light-grey-bg {
  background-color: #F3F3F3;
  margin: 0 auto;
  padding: 10px 20px;
  width: 50%;
}

.center > p {
  text-align: center;
  line-height: 2.25rem;
}

ul > li::before {
  content: url('https://staging.embed.buddy.insure/test/check-mark.png');
}

